*{
    padding: 0px;
    margin: 0px;
    border: 0px;
    
 }

 body{
    background-color: rgb(207, 240, 245);
 }

 .headList{
     padding: 10px;
     border-radius: 5px;
     margin: 10px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
